@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootstrap-social/bootstrap-social";

body {
  padding-top: 80px;
}

.btn-social {
  padding-left: ($bs-height-base + $padding-base-horizontal) !important;
  > :first-child {
    top: ($bs-height-base / 3) !important;
    border-right: 0 !important;
    padding-left: (($bs-height-base + $padding-base-horizontal) / 6) !important;

  }
}
