nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
  .container-fluid
    if user
      .profile-pic
        img(src=user.profile_picture, alt=user.username)

    .navbar-header
      button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapser')
        span.sr-only Toggle navigation
      a(href='/', class='navbar-brand') &pi;

    .collapse.navbar-collapse#navbar-collapser
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/hof') hall of fame

      ul.nav.navbar-nav.navbar-left
        li.dropdown
          a(href='#', class='dropdown-toggle', data-toggle='dropdown') got bounties?
          ul(class='dropdown-menu', role='menu')
            li
              a(href='/bounties') show me!
            li
              a(href='/bounties/new') roll one

      ul.nav.navbar-nav.navbar-right
        include ../elements/navbar-user
