nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
  .container-fluid
    if user
      .profile-pic
        img(src=user.profile_picture, alt=user.username)

    .navbar-header
      button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapser')
        span.sr-only Toggle navigation
      a(href='/', class='navbar-brand') &pi;

    .collapse.navbar-collapse#navbar-collapser
      ul.nav.navbar-nav.navbar-left
        li
          a(href='/users/4/') profile
        li
          a(href='/bounties') bounties
        li
          a(href='/bounties/new') new bounty
        
        li
          a(href='/hof') hall of fame
      ul.nav.navbar-nav.navbar-right
        include ../elements/navbar-user
