nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
  .container-fluid
    .navbar-header
      button(type='button', class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapser')
        span.sr-only Toggle navigation
      a(href='/', class='navbar-brand') Portinstagram

    .collapse.navbar-collapse#navbar-collapser
      ul.nav.navbar-nav
        li
          a(href='/bounties') bounties
        li
          a(href='/hof') hall of fame

      ul.nav.navbar-nav.navbar-right
        li
          - if (!user)
            a(href='/login') login

