doctype html
html
  head
    title #{title} #{title_ad}

    link(rel='stylesheet', href='/stylesheets/vendor.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')

  body
    .container
      .row
        .col-lg-12.col-md-12
          include ../elements/navbar

      .row
        .col-lg-12
          block content

    script(src='/javascripts/vendor/jquery/jquery.min.js')
    script(src='/javascripts/vendor/underscore/underscore.js')
    script(src='/javascripts/vendor/backbone/backbone.js')
    script(src='/javascripts/vendor/flat-ui/flat-ui.min.js')



