doctype html
html
  head
    title #{title} #{title_ad}
    link(rel='stylesheet', href='/stylesheets/flat-ui/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/flat-ui/flat-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/portinstagram/style.css')

  body
    block content

    script(src='/javascripts/vendor/jquery/jquery.min.js')
    script(src='/javascripts/vendor/flat-ui/flat-ui.min.js')

