@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables';

$bs-height-base: ($line-height-computed + $padding-base-vertical * 2);
$bs-height-lg:   (floor($font-size-large * $line-height-base) + $padding-large-vertical * 2);
$bs-height-sm:   (floor($font-size-small * 1.5) + $padding-small-vertical * 2);
$bs-height-xs:   (floor($font-size-small * 1.2) + $padding-small-vertical + 1);

body {
  padding-top: 80px;
  background: #ecf0f1;
}

.btn-social {
  padding-left: ($bs-height-base + $padding-base-horizontal) !important;
  > :first-child {
    top: ($bs-height-base / 3) !important;
    border-right: 0 !important;
    padding-left: (($bs-height-base + $padding-base-horizontal) / 6) !important;

  }
}

.navbar {
  .profile-pic {
    position: absolute;
    top: 10px;
    left: 50%;
    border-radius: 50%;
    border: #34495E 6px solid;
    z-index: 1000;

    img {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      border: #fff 3px solid;
    }
  }
}
