body {
  padding-top: 80px;
  background: #ecf0f1; }

.btn-social {
  padding-left: 44px !important; }
  .btn-social > :first-child {
    top: 10.66667px !important;
    border-right: 0 !important;
    padding-left: 7.33333px !important; }

.navbar .profile-pic {
  position: absolute;
  top: 10px;
  left: 50%;
  border-radius: 50%;
  border: #34495E 6px solid; }
  .navbar .profile-pic img {
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: #fff 3px solid; }
