extends ../layouts/layout

block content
  .row
    .col-lg-12.col-sm-8
      h1 welcome to the games yo!

      each service in [['instagram', 'instagram'], ['facebook', 'facebook'], ['twitter', 'twitter'], ['google-plus', 'g+']]
        .col-lg-3
          a(href='/login/'+ service[0] class='btn btn-block btn-hg btn-social btn-' + service[0])
            i(class="fa fa-#{service[0]}")
            | Login with #{service[1]}
