extends ../layouts/layout

block content
  ul.login-choices
    each service in ['instagram', 'facebook', 'twitter', 'g+']
      li
        a(href='/login/'+ service class='login-btn') Login with #{service}
