extends ../layouts/layout

block content
  .the-can
    .row
      .col-sm-10.col-sm-offset-1
        h3 login the network and start having fun!

    br

    .row
      .col-sm-6.col-sm-offset-3
        a(href='/login/instagram', class='btn btn-block btn-hg btn-social btn-instagram')
          i(class="fa fa-instagram")
          | Login with instagram
    br
    .row
      .col-sm-6.col-sm-offset-3
        a(href='/login/facebook', class='btn btn-block btn-hg btn-social btn-facebook')
          i(class="fa fa-facebook")
          | Login with facebook (soon...)
    br
    .row
      .col-sm-6.col-sm-offset-3
        a(href='/#', class='btn btn-block btn-hg btn-social btn-twitter')
          i(class="fa fa-twitter")
          | Login with twitter (soon...)
    br
    .row
      .col-sm-6.col-sm-offset-3
        a(href='/#', class='btn btn-block btn-hg btn-social btn-google-plus')
          i(class="fa fa-google-plus")
          | Login with google (soon...)
    br
