extends ../layouts/layout

block content
  each user in users
    .row
      .col-lg-3.col-md-3.col-sm-3
        b= user.provider_id
      .col-lg-7.col-md-7.col-sm-3
        a(href='/users/#{user.id}')= user.name
