extends ../layouts/layout

block content
  .the-can
    .row
      .col-md-10
          h3= user.name

    if user.email
      .row
        .col-md-2 email
        .col-md-10= user.email

    .row
      .col-sm-10.col-sm-offset-1
        h6 Achievements
        ul(class='small-block-grid-3')
          li
            p Winning a bounty!
            img(src='/pictures/flat-ui/icons/svg/retina.svg')
          li
            p Participating in a bounty.
            img(src='/pictures/flat-ui/icons/svg/clipboard.svg')

