extends ../layouts/layout

block content
  .row
    .col-sm-10.col-sm-offset-2
      h3 And the challenge will be

  form(action='/bounties/new', method='post', enctype='multipart/form-data', name='bounty-new', class='form-horizontal', role='form')
    .form-group
      label(class='col-sm-2 col-sm-offset-2 control-label', for='bounty-title') title
      .col-sm-5
        input(type='text', name='title', id='bounty-title', class='form-control flat input-lg')

    .form-group
      label(class='col-sm-2 col-sm-offset-2 control-label', for='bounty-description') description
      .col-sm-5
        textarea(name='description', id='bounty-description', class='form-control flat input-lg')

    .form-group
      label(class='col-sm-2 col-sm-offset-2 control-label', for='bounty-tag') tag
      .col-sm-5
        input(type='text', name='tag', id='bounty-tag', data-role='tagsinput', class='form-control flat input-lg tagsinput')

    .form-group
      label(class='col-sm-2 col-sm-offset-2 control-label', for='bounty-background') background
      .col-sm-5
         input(type='file', name='background', id='bounty-background')

    .form-group
      label(class='col-sm-2 col-sm-offset-2 control-label', for='bounty-tag') when
      .col-sm-5
        .row
          .col-sm-6
            .input-group.date#dtpicker-start
              input(type='text', name='start', id='bounty-start', class='form-control flat input-lg', placeholder='it starts ...')
              span.input-group-addon
                span.fui-calendar

          .col-sm-6
            .input-group.date#dtpicker-end
              input(type='text', name='end', id='bounty-end', class='form-control flat input-lg', placeholder='... and ends')
              span.input-group-addon
                span.fui-calendar

    .form-group
      .col-sm-6.col-sm-offset-4
        input(class='btn btn-embossed btn-primary', type='submit', value='make it happen!')

  script(type='text/javascript').
    $(document).ready(function () {
      $('#dtpicker-start').datetimepicker();
      $('#dtpicker-end').datetimepicker();
    });



block js_addons
  script(src='/javascripts/vendor/moment.min.js')
  script(src='/javascripts/vendor/bootstrap-datetimepicker.js')
  //  script(src='/javascripts/app/bounties.js')


